<% if photo.active %>
  <div class="col-xs-9 col-sm-6 col-md-4 col-lg-3 gif">
  <p><%= link_to "#{photo.name}", photo_path(photo.id), class: "gif-title" %></p>
    <%= link_to image_tag(photo.image, class: "gifs", width: "250", height: "200"), photo_path(photo.id) %>
  </div>
<% end %>
