<div class="container">
  <h1 class="text-center">All Orders for <%= current_user.studio.name %></h1>
  <div class="all_orders col-md-offset-1">
    <table class="table">
      <tr>
        <th>Order</th>
        <th>Placed At</th>
        <th>Price</th>
      </tr>
      <% @orders.each do |order| %>
      <tr>
        <td> <%= link_to order.id, admin_order_path(order) %></td>
        <td> <%= order.placed_at %></td>
        <td> <%= order.total_price %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
