<div class="text-center">
<h1>Your Orders</h1>
  <% @orders.each do |order| %>
    <h4> <%= link_to "Order: #{order.id}", order_path(order) %> </h4>
    <h5> <%= order.total_price %> </h4>
    <h5> <%= order.created_at %> </h4>
  <% end %>
</div>
