<div class="text-center">
<h1>Your Orders</h1>
  <% @orders.each do |order| %>
    <table class = "table">
      <tr>
        <th> Order ID </th>
        <th> Order Price</th>
        <th> Placed on</th>
      </tr>
      <tr>
        <td><%= link_to "Order: #{order.id}", order_path(order) %></td>
        <td><%= order.total_price %></td>
        <td><%= order.created_at %></td>
      </tr>
    </table>
  <% end %>
</div>
