<div class="container">
   <div class="row text-center">
     <h1>All Photos</h1>
    <% @photos.each do |photo| %>
      <%= render partial: "partials/photo_column", locals: { photo: photo } %>
    <% end %>
    </div>
</div>
