<div class="container text-center">
  <h1>All Categories</h1>
  <% @categories.each do |category| %>
    <div class="col-md-4">
      <h3> <%= link_to "#{category.name}", category_path(category), class: "photo-title" %></h3>
      <% photo = Photo.random_category_photo(category) %>
      <%= link_to image_tag(photo.image, width: "250", height: "200"), photo_path(photo.id) %>
    </div>
  <% end %>
</div>
