<h1 class="text-center"><%= @category.name %></h1>
<div class="container">
  <% if @category.photos %>
    <% @category.photos.each do |photo| %>
      <%= render partial: "partials/photo_column", locals: { photo: photo } %>
    <% end %>
  <% else %>
   <h3>No photos for this category</h3>
  <% end %>
</div>
