<div class="text-center col-md-offset-4 col-md-4">
  <h1>Edit Your Own Studio</h1>
  <h3>Your Studio is currently <%= @studio.status %></h3>
  <%= render partial: "partials/new_edit_studio" %>
</div>
