<div class="container text-center">
  <h1>Studios</h1>
    <% @studios.each do |studio| %>
      <div class="col-md-4">
        <h3 class="photo-title"><%= link_to studio.name, "/#{studio.slug}", class: "photo-title" %></h3>
        <% photo = Photo.random_studio_photo(studio) %>
        <%= link_to image_tag(photo.image, class: "gifs", width: "250", height: "200"), "/#{studio.slug}" %>
      </div>
    <% end %>
</div>
