<div class="container text-center">
  <h1>Photos by <%= @studio.name %></h1>
  <p>
    <%= @studio.description %>
  </p>
  <p>
  <% @studio.photos.each do |photo| %>
    <%= render partial: 'partials/photo_column', locals: { photo: photo } %>
  <% end %>
  </p>
</div>
