<div class="container text-center">
<h1>Platform Admin</h1>
<h3>Active Studios</h3>
<%= render partial: "partials/studio_links" %>
<br/>
<table class = "table">
  <%= render partial: "partials/studio_table_headers" %>
  <div id="active_studios">
    <% @studios.each do |studio| %>
      <% if studio.active? %>
        <%= render partial: "partials/studio_data", locals: { studio: studio, button_text: "Deactivate", path: platform_admin_studio_path(studio) } %>
      <% end %>
    <% end %>
  </div>
</table>
</div>
